
<td class='col_text description'>{{{ description }}}</td>
<td class='col_number'>{{{ ht_to_invoice_label }}}</td>
<td class='col_number'>{{{ tva_to_invoice_label }}}</td>
<td class='col_number'>{{{ ttc_to_invoice_label }}}</td>
<td class='col_percentage_graphic'></td>