<caption class='screen-reader-text'>Totaux de l'étude</caption>
<tbody>
<tr>
<th scope='row'>
Total HT
</th>
<td>
{{{ht_label}}}
</td>
</tr>
{{#each tva_labels}}
<tr>
<th scope='row'>
TVA : {{ this.label }}
</th>
<td>
{{{ this.value }}}
</td>
</tr>
{{/each}}
<tr>
<th scope='row'>
Total TTC
</th>
<td>
{{{ ttc_label}}}
</td>
</tr>
</tbody>
