
<h3>{{{title}}}</h3>
<div clas=''table_container>
    <table>
        <thead>
            <th scope='col' class='col_text'></th>
            <th scope="col" class="col_text">Description</th>
            <th scope="col" class="col_number" title="Coefficient de frais généraux"><span class="screen-reader-text">Coefficient de </span>Frais généraux</th>
            <th scope="col" class="col_number" title="Coefficient de marge">
                <span class="screen-reader-text">Coefficient de </span>Marge
            </th>
            <th scope="col" class="col_number" title="Prix unitaire Hors Taxe">
                Prix unit<span class="screen-reader-text">aire</span>. HT
            </th>
            <th scope="col" class="col_number" title="Quantité">
                Q<span class="screen-reader-text">uanti</span>té
            </th>
            <th scope="col" class="col_text">Unité</th>
            <th scope="col" class="col_number" title="Prix Hors Taxe">
        		<span class="screen-reader-text">Prix </span>HT
            </th>
            <th scope="col" class="col_text" title="Taux de TVA">
                <span class="screen-reader-text">Taux de </span>TVA
            </th>
            <th scope="col" class="col_text" title="Type de produit">
            	<span class="screen-reader-text">Type de </span>Produit
            </th>
            <th scope='col' class='col_actions'><span class="screen-reader-text">Actions</span></th>
        </thead>
        <tr>
            <td class='col_text'>
            </td>
            <td class='col_text'>{{{description}}}</td>
            <td class='col_number'>{{ general_overhead }}</td>
            <td class='col_number'>{{ margin_rate }}</td>
            <td class='col_number'>{{{ ht_label }}}</td>
            <td class='col_number'>{{quantity}}</td>
            <td class='col_text'>{{unity}}</td>
            <td class='col_number'>{{{total_ht_label}}}</td>
            <td class='col_text'>{{{tva_label}}}</td>
            <td class='col_text'>{{{product_label}}}</td>
            <td class='col_actions actions'></td>
        </tr>
        <tr><td colspan='10' class='col_text'>
            <small>
                {{#if display_details}}
                Le détail des prestations est affiché dans le document final
                {{else}}
                Le détail des prestations n'est pas affiché dans le document final
                {{/if}}
            </small>
            </td></tr>
        <tr>
            <td></td>
            <td colspan='9'><div class="table_container items"></div></td>
        </tr>

    </table>
</div>