<div class="separate_block border_left_block">
	<h2 class='title collapse_title'>
		<a 
			data-target="#expenses-content" 
			data-toggle="collapse" 
			aria-expanded="false" 
			aria-controls="expenses-content"
			>
			<svg class="arrow"><use href="/static/icons/endi.svg#chevron-down"></use></svg>
			Frais forfaitaires
		</a>
	</h2>
	<div class="collapse_content">
		<div id="expenses-content" class='content collapse' aria-expanded="false">
			<div class='row'>
				<form class='form-inline'>
					<div class='one_line expenses_ht'></div>
				</form>
			</div>
		</div>
	</div>
</div>
