<div class="separate_block border_left_block">
    {{#if collapsed}}
	<h2 class="title collapse_title">
		<a
			data-target="#discounts-content"
			data-toggle="collapse"
			aria-expanded="false"
			aria-controls="discounts-content"
			>
			<svg class="arrow"><use href="/static/icons/endi.svg#chevron-down"></use></svg>
			Remises
		</a>
	</h2>
    {{else}}
    <h2 class='title'>Remises</h2>
    {{/if}}
	<div class='modalregion'></div>
	<div {{#if collapsed}}class="collapse_content"{{/if}}>
		<div id="discounts-content" {{#if collapsed}}class='content collapse' aria-expanded="false"{{/if}}>
			<div class='block-errors'></div>
			{{# if not_empty}}
			<div class='table_container'>
				<table class="hover_table">
					<thead>
						<tr>
							<th scope="col" class="col_text">Description</th>
                            <th scope="col" class="col_number">
                                {{# if is_ttc_mode }}
                                Montant TTC
                                {{else}}
                                Montant HT
                                {{/if}}
                            </th>
							<th scope="col" class='col_number tva' title="Taux de TVA"><span class="screen-reader-text">Taux de </span>Tva</th>
							{{#if edit}}
							<th scope="col" class="col_actions" title="Actions"><span class="screen-reader-text">Actions</span></th>
							{{/if}}
						</tr>
					</thead>
			{{/if}}
					<tbody class='lines'>
					</tbody>
					{{#if edit}}
					<tfoot>
						<tr>
							<td colspan='4' class='col_actions'>
								<button type='button' class='btn btn-add'>
									<svg><use href="/static/icons/endi.svg#plus"></use></svg>
									Ajouter une remise
								</button>
							</td>
						</tr>
					</tfoot>
					{{/if}}
				</table>
			</div>
		</div>
	</div>
</div>
