<div class='form-group'>
    {{#if title}}
    <label for="{{tagId}}">
        {{title}}
        {{#if required}}
        <span class='req'>*</span>
        {{/if}}
    </label>
    {{/if}}
    {{#if editable}}
    <div class='radio'>
        <label>
            <input
                   id="{{tagId}}"
                   type='radio'
                   name='{{ field_name }}'
                   value='{{value}}'
                   aria-label='{{ariaLabel}}'
                   {{#if checked}}checked{{/if}}
                   /> {{inline_label}}
        </label>
    </div>
    {{#if description}}
    <span class='help-block'>{{ description }}</span>
    {{/if}}
    {{else}}
    <div>{{label}}</div>
    {{/if}}
</div>
