// Internet Explorer and Edge specific rules

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	/* IE10+ CSS here */
	body.endi .pie_chart,
	body.endi .table_chart .col_legend {
		display: none;
	}
	body.endi .table_chart table {
		width: 100% !important;
	}
}
@supports (-ms-accelerator:true) {
	/* Edge CSS here */
	body.endi .pie_chart,
	body.endi .table_chart .col_legend {
		display: none;
	}
	body.endi .table_chart table {
		width: 100% !important;
	}
}