// user account pages
@import '_variables';

body.endi {
	.expense_totals {
		background: $veryFadedBlue;
		margin: $unitPadding*2 0;
		padding: $unitPadding;
		> div {
			display: flex;
			justify-content: flex-start;
			.layout.flex {
				width: 12em;
				> div:nth-child(2n + 1) p {
					padding-top: 2px;
				}
				> div:nth-child(2n) p {
					text-align: right;
				}
			}
		}
	}
	.modal_view {
		.form.expense-form {
			.row {
				display: flex;
				flex-wrap: wrap;
			}
		}
		.select {
			label,
			select {
				width: 100%;
			}
		}
	}
	.flex {
		.btn-group {
			flex: 0 0 auto;
			padding-left: $unitPadding;
		}
	}
	.add_km_expense {
		> div {
			padding-bottom: $unitPadding*2;
		}
	}
	.main_toolbar .main_actions {
		.js_actions {
			display: block;
			flex: 1 0 auto;
			max-width: 100%;
			> div {
				display: block;
				> div {
					align-items: flex-start;
					display: flex;
					flex-wrap: wrap;
				}
			}
			&:only-child .more_actions:last-child {
				padding-right: 0;
				> div {
					justify-content: flex-end;
				}
			}
		}
		.more_actions {
			flex: 1 1 auto;
			> div {
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				min-width: 180px;
				padding: 0 2px;
				> div {
					> label {
						display: block;
						font-size: .875rem;
						padding-bottom: $unitPadding;
						text-align: center;
					}
					> .btn,
					> .btn-container {
						margin-right: 5px;
					}
					&:last-child {
						align-items: center;
						> label {
							display: inline;
							padding: 0 0 0 $unitPadding*2;
						}
					}
					&:only-child .btn,
					&:only-child .btn-container {
						margin-right: 0;
					}
				}
			}
			.icon_choice {
				display: inline-block;
				padding: $unitPadding 0;
				.flex {
					min-height: 38px;
					padding: 0 $unitPadding;
					label > span {
						border-width: 1px;
					}
					.btn {
						margin: 0;
					}
				}
			}
		}
	}
	&[class*="suppliers_orders"] {
		.two_cols .totals.form-section {
			justify-content: flex-start;
		}
		.main_toolbar .main_actions {
			.more_actions > div {
				justify-content: flex-end;
			}
		}
	}
}
@media ( max-width: $wideWidth ) {
	body.endi {
		.main_toolbar .main_actions {
			.more_actions {
				.icon_choice {
					.flex {
						label > span {
							display: block;
							overflow: hidden;
							padding: 5px 0;
							width: 32px;
							svg {
								margin: 0 40px 0 7px;
							}
						}
					}
				}
			}
		}
	}
}
@media ( max-width: $mobileWidth ) {
	body.endi {
		.totals.form-section .flex.two_cols {
			> div {
				width: 50%;
			}
		}
		.main_toolbar .main_actions {
			.more_actions {
				flex: 0 1 auto;
				margin: 0 -2px;
				> div {
					justify-content: flex-start;
				}
				.icon_choice .flex {
					flex-direction: row;
					min-height: 0;
					label,
					span {
						width: auto;
					}
				}
			}
		}
	}
}
