<div class='totals form-section'>
	<div class="layout flex two_cols">
		<div>
			<p>Total HT&nbsp;: </p>
		</div>
		<div>
			<p><strong>{{{ ht }}}</strong></p>
		</div>
	</div>
</div>
<div class='totals form-section'>
	<div class="layout flex two_cols">
		<div>
			<p>Total TVA&nbsp;: </p>
		</div>
		<div>
			<p><strong>{{{ tva }}}</strong></p>
		</div>
	</div>
</div>
<div class='totals form-section'>
	<div class="layout flex two_cols">
		<div>
			<p>Total TTC&nbsp;: </p>
		</div>
		<div>
			<p><strong>{{{ ttc }}}</strong></p>
		</div>
	</div>
</div>
<div class='totals form-section'>
	<div class="layout flex two_cols">
		<div>
			<p>Total Km&nbsp;: </p>
		</div>
		<div>
			<p><strong>{{{ km }}}&nbsp;km</strong></p>
		</div>
	</div>
</div>
