{{#if icons}}{
    <td title="Produit composé">
            {{#each icons}}
        <span class='icon type'>
        <svg><use href='/static/icons/endi.svg#{{ this }}'></use></svg>
            </span>
        <br />
            {{/each}}
    </td>
{{else}}
    <td></td>
{{/if}}
<td class='col_text'>
{{ label }}
</td>
<td class='col_text'>
{{ ref }}
</td>
<td class='col_text'>
{{ supplier_label }}
</td>
<td class='col_text'>
{{ category_label }}
</td>
<td class='col_number'>
{{{ current_stock }}}
</td>
<td class='col_number'>
{{{ supplier_ht_label }}}
</td>
<td class='col_number'>
{{{ ht_label }}}
</td>
<td class='col_text'>
{{ unity }}
</td>
<td class='col_text'>
{{ tva_label }}
</td>
<td class='col_actions'>
</td>
