<section class="size_middle">
    <div role="dialog" id="product-forms" aria-modal="true" aria-labelledby="product-forms_title">
        <div class='modal_layout'>
            <header>
                <button class="icon only unstyled close" title="Fermer cette fenêtre" aria-label="Fermer cette fenêtre" >
                    <svg><use href="/static/icons/endi.svg#times"></use></svg>
                </button>
                <h2 id="product-forms_title">{{ title }}</h2>
            </header>
            <main>
                {{#if add}}
                <ul class="nav nav-tabs modal-tabs" role="tablist">
                    <li role="presentation" class="active">
                        <a href="#form-container"
                           aria-controls="form-container"
                           role="tab"
                           data-toggle="tab"
                           tabindex='-1'
                           >
                            Saisie libre
                        </a>
                    </li>
                    <li role="presentation">
                        <a href="#catalog-container"
                           aria-controls="catalog-container"
                           role="tab"
                           tabindex='-1'
                           data-toggle="tab">
                            Depuis le catalogue
                        </a>
                    </li>
                </ul>
                {{/if}}
                <div class='tab-content'>
                    <div
                         role="tabpanel"
                         class="tab-pane fade in active"
                         id="form-container">
                        <form class='form product-form'>
                            {{#if raw_create}}
                            <div class='alert alert-info'>{{{ help_text }}}</div>
                            {{else}}
                            {{#if locked}}
                            <div class='alert alert-info alert-locked'>
                                <button
                                        class='btn unlock icon only'
                                        type='button'
                                        title="Délier ce champ de l’entrée du catalogue produit correspondante"
                                        >
                                    <svg>
                                        <use href='/static/icons/endi.svg#link'></use>
                                    </svg>
                                </button>
                                Cet élément est lié au produit du catalogue correspondant <strong>{{label}}</strong>
                            </div>
                            {{else}}
                            <div class='alert alert-info'>
                                <span class='icon only'>
                                    <svg>
                                        <use href='/static/icons/endi.svg#lock-open'></use>
                                    </svg>
                                </span>
                                Cet élément n’est pas lié au produit du catalogue <strong>{{label}}</strong>. Les valeurs spécifiées ici seront synchronisées avec le produit du catalogue correspondant uniquement si vous cochez la case «&nbsp;Synchroniser avec le catalogue&nbsp;»</div>
                            {{/if}}
                            {{/if}}
                            <div class='errors'></div>
                            <fieldset>
                                <div class='field-label'></div>
                                <div class='field-type_'></div>
                            </fieldset>
                            <fieldset>
                                <div class='field-locked'></div>
                                <div class='field-description'></div>
                                <div class='col-md-6 field-supplier_ht'></div>

                                <div class="layout flex">
                                    <div class='col-md-6 field-general_overhead'></div>
                                    <div class='col-md-6 field-margin_rate'></div>
                                </div>
                                <div class="layout flex">
                                    <div class='col-md-4 field-ht'></div>
                                    <div class='col-md-4 field-quantity'></div>
                                    <div class='col-md-4 field-unity'></div>
                                </div>
                                <div class="layout flex">
                                    <div class='col-md-6 field-tva_id'></div>
                                    <div class='field-product_id'></div>
                                </div>
                                <div class="layout flex">
                                    <div class='col-md-6 field-sync_catalog'></div>
                                </div>
                            </fieldset>
                            <button
                                    class='btn btn-primary'
                                    type='submit'
                                    value='submit'>
                                {{ title }}
                            </button>
                            <button
                                    class='btn'
                                    type='reset'
                                    value='submit'>
                                Annuler
                            </button>
                        </form>
                    </div>
                    {{#if add}}
                    <div
                         role="tabpanel"
                         class="tab-pane"
                         id="catalog-container">
                    </div>
                    {{/if}}
                </div>
            </main>
            <footer>
            </footer>
        </div>
    </div>
</section>
