body.endi.endi_popup {
	.main_area {
		height: 100vh;
		padding: 0;
		width: 100vw;
	}
	.main_content {
		padding: 0;
		.limited_width {
			max-width: 100%;
			width: 100%;
		}
	}
	h1 {
		background: $black;
		color: $white;
		padding: $unitPadding*2 $unitPadding*4;
		position: relative;
		button {
			position: absolute;
			right: 0;
			top: 0;
			svg {
				fill: $white;
			}
		}
	}
	.main_actions,
	.popup_content {
		padding: $unitPadding*2 $unitPadding*4;
	}
	.main_content > .limited_width {
		> h2 {
			background: $black;
			color: $white;
			padding: $unitPadding*2 $unitPadding*4;
			position: relative;
		}
		> div {
			padding: $unitPadding*2 $unitPadding*4;
		}
	}
}
body.endi.theme_manage_people.endi_popup {
	h1,
	.main_content > .limited_width > h2 {
		background: $darkBlue;
	}
}
body.endi.theme_manage_entity.endi_popup {
	h1,
	.main_content > .limited_width > h2 {
		background: $veryLightBlue;
		color: $black;
	}
}