// data tables

body.endi table {
	caption {
		border-top: 1px solid $fadedGrey;
		border-bottom: 1px dashed $fadedGrey;
		font-weight: bold;
		margin-top: $unitPadding*4;
		padding: 2px 0;
		text-align: left;
	}
	th,
	td {
		font-size: .875rem;
		padding: 4px 2px;
		position: relative;
		&.status {
			color: $white;
			&.positive {
				background: $funcPositive;
			}
		}
	}
	&.summary th,
	&.summary td {
		padding: 2px 4px;
	}
	&.top_align_table th,
	&.top_align_table td,
	tr.top_align th,
	tr.top_align td,
	th.top_align,
	td.top_align {
		vertical-align: top;
	}
	th[scope="row"] {
		text-align: left;
	}
	thead th {
		vertical-align: bottom;
	}
	th {
		strong {
			text-transform: uppercase;
		}
		a {
			color: $midBlue;
			text-decoration: none;
			&.icon {
				padding-left: 10px;
				position: relative;
				svg {
					height: 8px;
					left: 0;
					margin: -4px 0 0;
					opacity: .25;
					position: absolute;
					top: 50%;
					vertical-align: baseline;
					width: 8px;
				}
			}
			&.icon.mini {
				svg {
					left: $unitPadding;
				}
			}
			&:hover,
			&:focus,
			&:active {
				text-decoration: underline;
				svg {
					opacity: 1;
				}
			}
			&.icon.current {
				padding-left: 14px;
				svg {
					height: 12px;
					margin-top: -6px;
					opacity: 1;
					width: 12px;
				}
			}
		}
	}
	td {
		text-align: center;
		input[type="text"],
		input[type="date"] {
			text-align: center;
		}
		strong {
			line-height: .75;
		}
		.icon_choice .flex {
			span {
				white-space: nowrap;
			}
		}
		.icon_label {
			white-space: nowrap;
		}
	}
	input[type="text"],
	input[type="number"] {
		background: $midFadedWhite;
		padding: $unitPadding 0;
	}
	.col_text {
		text-align: left;
		&.align_right {
			text-align: right;
		}
		input[type="text"] {
			text-align: left;
		}
	}
	td.col_text {
		hyphens: auto;
		overflow-wrap: break-word;
		a {
			color: $black;
			display: block;
			line-height: 1.25;
			text-decoration: none;
		}
		a:hover,
		a:focus,
		a:active {
			text-decoration: underline;
		}
		li {
		    padding: 0 0 4px;
		}
		small {
			padding: 2px 0;
		}
		.icon.status {
			margin: $unitPadding $unitPadding $unitPadding 0;
		}
	}
	td.col_icon {
		.icon svg {
			height: $smallIconSize;
			width: $smallIconSize;
		}
	}
	td.col_actions {
		max-width: 174px;
		min-width: 48px;
		padding: 0 5px;
		text-align: right;
		ul {
			list-style-type: none;
			padding: 0;
			text-align: right;
			li {
				display: inline-block;
				padding: 0;
			}
		}
		.btn {
			margin: 2px 0;
			text-align: left;
		}
		.btn-container {
			margin: 0;
		}
		.btn-group {
			padding-left: 0;
		}
        .btn.icon.only {
            font-size: 0; /* hide text */
        }
		&.width_one {
			width: 48px;
		}
		&.width_two,
		&.row_ordering {
			width: 90px;
		}
		&.width_three {
			width: 132px;
		}
		&.width_four {
			width: 174px;
		}
	}
	tbody tr:first-child td.col_actions.row_ordering {
		vertical-align: bottom;
	}
	.col_status {
		&:not(.col_text) {
			min-width: 24px;
			max-width: 40px;
			text-align: center;
			white-space: nowrap;
			width: 40px;
		}
		&.col_text {
			.flex {
				align-items: center;
			}
		}
	}
	td.col_status:not(.col_text) {
		position: relative;
		vertical-align: middle;
		span.status {
			align-items: center;
			border-radius: 0;
			bottom: 0;
			display: flex;
			height: auto;
			justify-content: center;
			left: 0;
			position: absolute;
			right: 0;
			top: 0;
			width: auto;
		}
		&:first-child + td {
			padding-left: $unitPadding;
		}
	}
	.col_number {
		text-align: right;
		input[type="text"] {
			text-align: right;
		}
	}
	td.col_number {
		padding-left: $unitPadding*2;
		white-space: nowrap;
		width: 3em;
	}
	.col_select {
		label {
			padding: 0;
		}
	}
	.col_percentage_graphic {
		width: 180px;
		em {
			display: inline-block;
			font-size: .75rem;
			font-weight: normal;
			line-height: 1;
			text-align: left;
		}
	}
	.row_number {
		th {
			font-weight: normal;
		}
		td {
			text-align: right;
			white-space: nowrap;
			input[type="text"] {
				text-align: right;
			}
		}
	}
	.row_month {
		th, td {
			width: 4em;
		}
	}
	.row_total {
		th,
		td {
			font-weight: bold;
		}
	}
	thead .row_total {
		th,
		td {
			border-bottom: 1px solid $fadedGrey;
		}
	}
	tfoot .row_total {
		th,
		td {
			border-top: 1px solid $fadedGrey;
		}
	}
	td.total {
		font-weight: bold;
	}
	.row_recap {
		th,
		td {
			font-weight: bold;
		}
		.col_actions {
			background: $white;
		}
	}
	.row_recap th,
	.row_recap td:not(.level_spacer):not(.empty),
	.highlighted th,
	.highlighted td,
	th.highlighted,
	td.highlighted {
		background: $veryFadedGrey;
	}
	.row_recap.main th,
	.row_recap.main td:not(.level_spacer):not(.empty) {
		background: $fadedGrey;
	}
	td.total {
		font-weight: bold;
	}
	.row_highlight {
		th,
		td {
			background: $veryFadedGrey;
		}
	}
	.col_date,
	.col_datetime {
		width: 7em;
		overflow-wrap: normal;
	}
	.col_datetime {
		width: 10em;
	}
	td.col_status {
		font-size: .825rem;
	}
	tr.selected td {
		background: $fadedBlue;
	}
	tr.locked td.col_text,
	tr.locked td.col_date,
	tr.locked td.col_number {
		text-decoration: line-through;
	}
	tr.clickable-row,
	td[onclick],
	tr[onclick] {
		cursor: pointer;
	}
	&.hover_table tbody:not(.total) tr:not(.row_recap):not(.row_total):hover td:not([class*="spacer"]) {
		background: $hoverGreen;
	}
	tbody tr:not(.row_recap):not(.row_catalogue):not(.add_row):nth-child(2n + 1) {
		background: $evenOddGrey;
	}
	tbody.collapse_title tr:first-child td {
		border-bottom: 1px solid $veryFadedGrey;
	}
	.total tr:first-child th:not(:empty),
	.total tr:first-child td:not(:empty) {
		border-top: 1px solid $veryFadedGrey;
	}
	tfoot tr:not(.row_total):first-child td:not(:empty),
	tfoot tr:not(.row_total):first-child th:not(:empty) {
		border-top: 1px solid $veryFadedGrey;
	}
	&.spaced_table {
		margin: $unitPadding 0;
	}
	h2,
	h3,
	h4 {
		padding: 0;
	}
	h4 {
		text-align: left;
	}
	span.icon {
		&.help {
			vertical-align: text-top;
			svg {
				fill: $midGrey;
			}
		}
		svg {
			height: 12px;
			width: 12px;
		}
		&.type {
			padding: 1px 0;
			svg {
				height: 16px;
				width: 16px;
			}
		}
	}
	th.editable,
	td.editable {
		padding-bottom: 20px;
	}
	th.separator_right,
	td.separator_right {
		border-right: 1px dashed $midGrey;
	}
	th.separator_left,
	td.separator_left {
		border-left: 1px dashed $midGrey;
	}
	th.separator {
		background: $evenOddGrey;
	}
	td .rich_editor {
		margin: -15px 0 0;
	}
	&.top_align_table td .rich_editor,
	tr.top_align td .rich_editor {
		margin-top: -11px;
	}
	th button.mini,
	td button.mini {
		bottom: 0;
		position: absolute;
		right: 0;
		z-index: 2;
	}
	.level_spacer {
		background: $white;
		width: $unitPadding;
	}
	.empty {
		background: $white;
	}
	.cell_info {
		background: $white;
		box-shadow: 0 4px 6px $midGrey;
		display: none;
		padding: 5px;
		position: absolute;
		z-index: $actionLayer;
		width: 18em;
		&.open {
			display: block;
		}
		h4 {
			align-items: center;
			display: flex;
			justify-content: space-between;
			.icon {
				align-self: flex-start;
			}
		}
	}
	&.full_width {
		width: 100%;
	}
	.table_summary {
		&.first td:not(.level_spacer),
		td.first:not(.level_spacer),
		&.first th,
		th.first {
			border-top: 1px solid $veryFadedGrey;
		}
		&.last td:not(.level_spacer),
		td.last:not(.level_spacer),
		&.last,
		th.last {
			border-bottom: 1px solid $veryFadedGrey;
		}
		td,
		th {
			background: $white;
		}
	}
	&.compte_resultat {
		thead {
			background: $white;
			position: sticky;
			top: 0;
			td,
			th {
				background: $white;
			}
		}
		tbody tr:first-child {
			td,
			th {
				border-top: 1px solid $veryFadedGrey;
			}
		}
		input[type="text"] {
			width: 100%;
		}
	}
	button.mini {
		&.icon {
			padding: 0;
		}
	}
}
body.endi .panel-body {
	table {
		width: 100%;
	}
}
body.endi .table_container {
	background: $white;
	width: 100%;
	thead {
		background: $white;
		position: sticky;
		top: 0;
		z-index: $stickyContentLayer;
	}
	table {
		width: 100%;
	}
}
body.endi *[role="dialog"] .table_container {
	max-height: 50vh;
}
@media ( min-width: $extrawideWidth ) {
	body.endi table {
		td.col_number {
			padding-left: $unitPadding*6;
		}
		.col_date {
			width: 9em;
		}
		.col_datetime {
			width: 12em;
		}
	}
}
@media ( min-width: $wideWidth ) {
	body.endi table {
		.level_spacer {
			width: $unitPadding*2;
		}
		td .icon_choice.flex {
			align-items: center;
			flex-wrap: nowrap;
			min-height: 38px;
		}
	}
}
@media ( max-width: $wideWidth ) {
	body.endi table {
		.level_spacer {
			width: $unitPadding*2;
		}
		td .icon_choice.flex {
			flex-direction: column;
			label,
			span {
				width: 100%;
			}
			label > span {
				border-width: 1px;
			}
		}
	}
}
@media ( min-width: $tabletWidth ) {
	body.endi table {
		tbody tr:last-child td.col_actions.row_ordering {
			li:only-child .btn.up {
				margin-right: 42px;
			}
		}
	}
}
@media ( max-width: $tabletWidth ) {
	body.endi table {
		td.col_text {
			> small {
				display: block;
				max-height: 1.5em;
				max-width: 10em;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
		td.col_number {
			padding-left: $unitPadding;
		}
		.col_date,
		.col_datetime {
			min-width: 3.25em;
			width: 3.25em;
			overflow-wrap: anywhere;
		}
		.col_percentage_graphic {
			width: 120px;
		}
	}
	body.endi .table_container {
		max-width: calc( 100vw - 10px );
		overflow-x: auto;
		overflow-y: visible;
	}
}
@media ( max-width: $mobileWidth ) {
	body.endi table {
		tr {
			min-height: 48px;
			position: relative;
		}
		.col_percentage_graphic {
			width: 100px;
		}
	}
	body.endi .table_container {
		max-width: calc( 100vw - 10px );
		overflow-x: auto;
		overflow-y: visible;
	}
}
body.endi.theme_manage_people table {
	.row_recap th,
	.row_recap td:not(.level_spacer):not(.empty),
	.highlighted th,
	.highlighted td,
	th.highlighted,
	td.highlighted {
		background: $veryFadedBlue;
	}
	.row_recap.main th,
	.row_recap.main td:not(.level_spacer):not(.empty) {
		background: $fadedBlue;
	}
}
body.endi.theme_manage_entity table {
	.row_recap th,
	.row_recap td:not(.level_spacer):not(.empty),
	.highlighted th,
	.highlighted td,
	th.highlighted,
	td.highlighted {
		background: $veryFadedBlue;
	}
	.row_recap.main th,
	.row_recap.main td:not(.level_spacer):not(.empty) {
		background: $fadedBlue;
	}
}
@media print { // styles used when printing pages
	body.endi table {
		border: 1px solid $fadedGrey;
		border-collapse: collapse;
		width: 100%;
		td,
		th {
			border: 1px solid $fadedGrey;
		}
		.col_actions {
			display: none;
		}
		.col_select {
			visibility: hidden;
		}
	}
}
