body.endi .user_header .user_avatar {
  margin-right: 20px; }

body.endi .user_header .btn {
  margin-left: 20px; }

body.endi .user_header p {
  padding-bottom: 10px; }

body.endi .user_header .highlight {
  padding: 2px .5em; }

body.endi .user_header + .layout.flex {
  margin-top: 40px; }

body.endi .user_dashboard .separate_bottom {
  align-items: center;
  margin: 0;
  padding: 10px 0; }

body.endi .user_dashboard p + .btn,
body.endi .user_dashboard p + .btn-container .btn {
  margin-top: 5px; }

body.endi .content_vertical_padding .btn {
  margin: 5px 0; }

body.endi .doc_list .form-group {
  width: 50%; }
