body.endi table ul.workshop-managers li:first-child {
    list-style-type: none;
    margin-left: -15px;
}
body.endi table li.timeslot {
	display: flex;
    list-style-type: none;
    margin-left: -15px;
}
body.endi table li.timeslot span {
	padding-right: 5px;
}

.workshop-view .dl-horizontal dt {
    white-space: normal;
    width: 320px;
}
